rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read files metadata
    match /files/{fileId} {
      allow read: if true;
      // Only allow users to write to their own files
      allow write: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
} 